# node
node_modules/
dist/
.svelte-kit/
.vite/

# rust
target/

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# os
.DS_Store
Thumbs.db

# env
.env
.env.local
.env.*.local

# tauri generated
gen/

# editor
.idea/
*.iml

opencode.json

prompts/
prompt.md
